/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
  font-family: 'NeueMachina';
  src: url('/font/NeueMachina-Medium.otf');
}

 .heroTitle {
   font-family: 'NeueMachina';
 }
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  /* background: rgb(207,195,251);
  background: radial-gradient(circle, rgba(207,195,251,1) 0%, rgba(205,174,251,1) 50%, rgba(164,252,245,1) 100%); */
 
  width: 100%;
  height: 100%;
  /* background-image: url("/img/background/eth-purple.jpg"); */
  background-size: cover;
  background-position: center center;
  animation: slides 15s linear infinite;
  -webkit-animation: slides 15s linear infinite;
  -moz-animation: slides 15s linear infinite;
  -o-animation: slides 15s linear infinite;
  -ms-animation: slides 15s linear infinite;
}

.eth-purple {
  background: url("/img/background/eth-purple.jpg");
  background-size: cover;
  background-position: center center;
  /* opacity    : 0; */
  transition : opacity .5s ease-out; 
}
.eth-sunset {
  background: url("/img/background/eth-sunset.jpg");
  background-size: cover;
  background-position: center center;
  /* opacity    : 0; */
  transition : opacity .5s ease-out; 
}
.eth-network {
  background: url("/img/background/eth-network.jpg");
  background-size: cover;
  background-position: center center;
  /* opacity    : 0; */
  transition : opacity .5s ease-out; 
}
.eth-cubes {
  background: url("/img/background/eth-cubes.jpg");
  background-size: cover;
  background-position: center center;
  /* opacity    : 0; */
  transition : opacity .5s ease-out; 
}
.hero-active {
  opacity: 1;
}
/* .hero-inner { 
  opacity: 1;
  background-color: black;
} */

/* @-webkit-keyframes slides {
  from {
      background: url("/img/background/eth-purple.jpg");
      background-size: cover;
      background-position: center center;
  }
  25% {
      background: url("/img/background/eth-sunset.jpg");
      background-size: cover;
      background-position: center center;
  }
  50% {
      background: url("/img/background/eth-network.jpg");
      background-size: cover;
      background-position: center center;
  }
  to {
      background: url("/img/background/eth-cubes.jpg");
      background-size: cover;
      background-position: center center;
  }
} */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
